@import url("variables.css");
body {
    background-color: var(--alice-blue);
}
.login-green {
    background-color: var(--light-green);
    color: var(--fore-ground-color-prim);
}

.hover-color:hover {
    background-color: var(--light-gray);
}