.btn-check:checked + .btn-outline-success {
    background-color: var(--light-green);
    border-color: var(--light-green);
    color: var(--fore-ground-color-prim);
}

.pad-left {
    padding-left: 10px;
}