@import url(variables.css);
@import url(training.css);
@import url(calender.css);
@import url(sessions.css);

body {
    background-color: var(--alice-blue);
}

.bg-dark-green {
    background-color: var(--dark-green);
    color: var(--fore-ground-color-prim);
}
button.bg-dark-green:hover {
    background-color: var(--light-green);
    color: var(--fore-ground-color-prim);
}

.btn-logout {
    background-color: var(--light-green);
}


.notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--fore-ground-color-prim);
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease, margin 0.5s ease; /* Smooth transitions */
}

.notification-success { background-color: #28a745; }
.notification-warn { background-color: #ffc107; }
.notification-error { background-color: #dc3545; }

.close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    background: none;
    color: var(--fore-ground-color-prim);
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
}

.close-btn:hover {
    color: var(--light-gray);
}