.training-session-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px; /* Space between cards */
    margin-top: 16px;
}

/* Individual session cards */
.training-session-card {
    background-color: var(--light-gray);
    border: 1px solid var(--dark-gray); /* Subtle border */
    border-radius: 12px; /* Rounded corners */
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--dark-gray);
    position: relative;
}

/* Hover effect for cards */
.training-session-card:hover {
    transform: scale(1.02); /* Slightly increase the size */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

/* Title styling */
.training-session-title {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: bold;
}

/* General text styling */
.training-session-card p {
    margin: 4px 0;
    color: var(--dark-gray);/* Subtle text color */
}

.session-btn-group {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.training-session-card:hover .session-btn-group {
    visibility: visible;
    opacity: 1;
}