:root {
    --dark-green: #1b4215;
    --light-green: #2c7821;
    --mid-green: #26641c;
    --fore-ground-color-prim: white;
    --fore-ground-color-sec: #555;
    --light-gray: lightgray;
    --dark-gray: #616161;
    --alice-blue: aliceblue;
}